<!DOCTYPE html>
<html lang="de">
    <div id="portfolioVue">
        <head>
            <meta charset="UTF-8">

            <meta property="og:type" content="website">
            <meta name="description" property="og:site_name" content="Isabella Aigner - Kommunikationsdesign">
            <meta name="keywords" content="Portfolio, Web, Grafik, Corporate, Fotografie, Illustration, 3D">
            <meta name="author" content="Isabella Aigner">
            <meta name="copyright" content="Isabella Aigner">
            <meta data-vue-meta="1" name="viewport" content="width=device-width, initial-scale=1">

            <link rel="shortcut icon" type="image/ico" href="favicon.ico">
            <title>Isabella Aigner - Portfolio Werdegang</title>

            <script src="lib/vue.min.js"></script>

            <link rel="stylesheet" type="text/css" href="css/main.css">
            <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i%7CMontez%7COpen+Sans:400,400i" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">


        </head>

        <body>
        <!--<div class="loader">
            <img src="loading/Preloader_1.gif" alt="Loading...">
            <p id="loaderfont"></p>
        </div>

        <script type="text/javascript">
            window.addEventListener("load", function() {
                const loader = document.querySelector(".loader");
                loader.className += " hidden";
            })
        </script>-->

        <header>
            <!-- -------------------------------------main menue desktop----------------------------------------------------->
            <div id ="nav-site-rows" class="base-site-grid-14">
                <!--------------------- desktop navi--------------------------->
                <ul id="header-top--navi" class="base-site-grid-5 desktopNavi">

                    <!---------------------Logo Navigation-------------------->
                    <li id="naviLogo">
                        <div class="normalize">
                            <a href="index.html">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 252.8 187.4" enable-background="new 0 0 252.8 187.4" xml:space="preserve">
<circle class="naviLogo-white" fill="#FFFFFF" cx="117.8" cy="93.7" r="87"/>
<g opacity="0.5">
	<path class="naviLogo-transp" fill="#808285" d="M12.6,140.5c8.6-0.7,132.5-51.3,158.2-87.3l11.9-8.3c2.6,2,4.6,7.6,0,21.6s-23.1,45-33.6,49.6
		c-10.5,4.6-28.9,12.5-50,9.2c0,0,29.6-5.3,46.7-21.1s29-33.9,30.3-37.7c1.3-3.8-87,68-130.5,74C2.1,146.4,12.6,140.5,12.6,140.5z"
		/>
	<path class="naviLogo-transp" fill="#808285" d="M185.4,73.2l-21.2,52.1c0,0,4.6,4.6,18.5,0c13.8-4.6,62.6-39.2,62.6-39.2s-17.1,5.6-21.1,7.9
		s-51.4,35.9-49.4,26.7c2-9.2,19.8-54.2,19.8-54.2L185.4,73.2z"/>
</g>
<path class="naviLogo-black" d="M8.6,138.5c8.6-0.7,132.5-51.3,158.2-87.3l11.9-8.3c2.6,2,4.6,7.6,0,21.6c-4.6,14-23.1,45-33.6,49.6
	c-10.5,4.6-28.9,12.5-50,9.2c0,0,29.6-5.3,46.7-21.1s29-33.9,30.3-37.7s-87,68-130.5,74C-1.9,144.4,8.6,138.5,8.6,138.5z"/>
<path class="naviLogo-black" d="M181.4,71.2l-21.2,52.1c0,0,4.6,4.6,18.5,0c13.8-4.6,62.6-39.2,62.6-39.2s-17.1,5.6-21.1,7.9s-51.4,35.9-49.4,26.7
	c2-9.2,19.8-54.2,19.8-54.2L181.4,71.2z"/>
</svg>
                            </a>
                        </div>
                    </li>
                    <!-----------------------Navigationspunkte--------------------------->
                    <li></li>
                    <li id="desktop-navi--top-aboutMe">
                        <a href="#">
                            Über Isabella
                        </a>
                        <div id="desktop-navi--top-aboutMe-nav">
                            <ul>
                                <li><a href="index.html#kurzvorstellungID">Kurzvorstellung</a></li>
                                <li><a href="werdegang.html#werdegangID">Werdegang</a></li>
                                <li><a href="werdegang.html#skillsID">Kompetenzen</a></li>
                                <li><a href="download.html">Downloads</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="desktop-navi--top-projects">
                        <a href="#">
                            Projekte
                        </a>
                        <div id="desktop-navi--top-projects-nav">
                            <ul>
                                <!--<li @click="goToProjectBranding"><a href="#">Marke</a></li>-->
                                <li><a href="web.html">Web</a></li>
                                <li><a href="grafik.html">Grafik</a></li>
                                <li><a href="freieProjekte.html">Freie Projekte</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="desktop-navi--top-contact">
                        <a href="kontakt.html">Kontakt</a>
                    </li>
                </ul>
                <!--------------------- phone navi--------------------------->
                <ul id="header-top--navi" class="base-site-grid-2 phoneNavi">

                    <!---------------------Logo Navigation-------------------->
                    <li id="naviLogo">
                        <div class="normalize">
                            <a href="index.html">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 252.8 187.4" enable-background="new 0 0 252.8 187.4" xml:space="preserve">
<circle class="naviLogo-white" fill="#FFFFFF" cx="117.8" cy="93.7" r="87"/>
<g opacity="0.5">
	<path class="naviLogo-transp" fill="#808285" d="M12.6,140.5c8.6-0.7,132.5-51.3,158.2-87.3l11.9-8.3c2.6,2,4.6,7.6,0,21.6s-23.1,45-33.6,49.6
		c-10.5,4.6-28.9,12.5-50,9.2c0,0,29.6-5.3,46.7-21.1s29-33.9,30.3-37.7c1.3-3.8-87,68-130.5,74C2.1,146.4,12.6,140.5,12.6,140.5z"
		/>
	<path class="naviLogo-transp" fill="#808285" d="M185.4,73.2l-21.2,52.1c0,0,4.6,4.6,18.5,0c13.8-4.6,62.6-39.2,62.6-39.2s-17.1,5.6-21.1,7.9
		s-51.4,35.9-49.4,26.7c2-9.2,19.8-54.2,19.8-54.2L185.4,73.2z"/>
</g>
<path class="naviLogo-black" d="M8.6,138.5c8.6-0.7,132.5-51.3,158.2-87.3l11.9-8.3c2.6,2,4.6,7.6,0,21.6c-4.6,14-23.1,45-33.6,49.6
	c-10.5,4.6-28.9,12.5-50,9.2c0,0,29.6-5.3,46.7-21.1s29-33.9,30.3-37.7s-87,68-130.5,74C-1.9,144.4,8.6,138.5,8.6,138.5z"/>
<path class="naviLogo-black" d="M181.4,71.2l-21.2,52.1c0,0,4.6,4.6,18.5,0c13.8-4.6,62.6-39.2,62.6-39.2s-17.1,5.6-21.1,7.9s-51.4,35.9-49.4,26.7
	c2-9.2,19.8-54.2,19.8-54.2L181.4,71.2z"/>
</svg>
                            </a>
                        </div>
                    </li>
                    <!-----------------------Navigationspunkte--------------------------->
                    <li id="phone-navi--top-menue">
                        <a @click="showPhoneTopMenue"  href="#">
                            <svg version="1.1"
                               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 124 124"
                               width="100%" height="100%" xml:space="preserve" fill="white" style="width: 40px; height: 30px;">
                                <g>
                                    <path d="M112,6H12C5.4,6,0,11.4,0,18s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,6,112,6z"/>
                                    <path d="M112,50H12C5.4,50,0,55.4,0,62s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,50,112,50z"/>
                                    <path d="M112,94H12c-6.6,0-12,5.4-12,12s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,94,112,94z"/>
                                </g>
                            </svg>
                        </a>
                        <div v-bind:style="'display: ' + phoneMenueTop" id="phone-navi--top-menue-nav">
                            <ul id="phone-navi--top-menue-aboutMe">
                                <li><a @click="showAboutMeInside" href="#">Über Isabella</a>
                                    <ul v-bind:style="'display: ' + aboutMeInside" id="phone-navi--top-menue-aboutMe-nav">
                                        <li><a href="index.html#kurzvorstellungID">Kurzvorstellung</a></li>
                                        <li><a href="werdegang.html#werdegangID">Werdegang</a></li>
                                        <li><a href="werdegang.html#skillsID">Kompetenzen</a></li>
                                        <li><a href="download.html">Downloads</a></li>
                                    </ul>
                                </li>
                                <li><a @click="showProjectInside" href="#">Projekte</a>
                                    <ul v-bind:style="'display: ' + projectInside">
                                        <li><a href="web.html">Web</a></li>
                                        <li><a href="grafik.html">Grafik</a></li>
                                        <li><a href="freieProjekte.html">Freie Projekte</a></li>
                                    </ul>
                                </li>
                                <li><a href="kontakt.html">Kontakt</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <!--------------------------------------------- header pictures --------------------------------------------->
                <div id="header-top--picture" class="w3-content w3-display-container">
                    <!--------------------------------------------------Werdegang Slider----------------------------------------->
                    <img class="header-top--slider slider-qf" v-bind:src="headerPicture" v-bind:alt="headerPictureTitle">
                    <img class="header-top--slider slider-quad" v-bind:src="headerPictureQuad" v-bind:alt="headerPictureTitle">
                </div>
            </div>
        </header>

        <main>

            <!--------------------------------------------------Werdegang------------------------------------------------------------------>
            <div class="normalize">
                <div class="after-header"></div>
                <!----------------------------------------------Lebenslauf-------------------------------------------------->
                <div class="base-site-grid-14">
                    <!---------------------------Werdegang Einleitung----------------------->
                    <div class="base-site-grid-layout">
                        <div id="werdegang-introduction">
                            <h2 class="h2-sans-serif werdegang-h2" id="werdegangID">Werdegang</h2>
                            <p class="werdegang-h2-info">Isabella Aigner ist eine Kommunikationsdesignerin, die sich anfänglich auf Grafik und Design konzentriert hat und einige Jahre auch als Mediendesignerin tätig war. Durch ihre Kreativität wurde jedoch schnell klar, dass ihre Leidenschaft sich auch Richtung Webentwicklung ansiedelt, weshalb sie diese im zweiten Bildungsweg auf der Fachhochschule Oberösterreich (Medientechnik und -design) auch zur Zeit weiter vertieft. Isabellas Engagement motiviert sie immer weiter neue Techniken, Technologien und Fähigkeiten zu erlernen, die sie in ihre Arbeit mit einfließen lässt.</p>
                        </div>
                    </div>

                    <div class="base-site-grid-layout werdegang-button-grid">
                        <div id="werdegang-info-button">
                            <button class="werdegang-button" v-bind:class="{ buttonActiveWerdegang: buttonActiveAll }" @click="clickAll">Werdegang</button>
                            <button class="werdegang-button" v-bind:class="{ buttonActiveWerdegang: buttonActiveEducation }" @click="clickEducation">Ausbildung</button>
                            <button class="werdegang-button" v-bind:class="{ buttonActiveWerdegang: buttonActiveWork }"@click="clickWork">Arbeit</button>
                        </div>
                    </div>
                </div>

                <div class="base-site-grid-layout werdegang-bg">
                    <div v-if="buttonActiveAll === true" v-for="(element, index) in werdegangArray">
                        <div v-if="index%2 === 0" class="werdegang-info bg-light">
                            <div class="werdegang-icon">
                                <div class="normalize">
                                    <img v-bind:src="element.icon" v-bind:alt="element.alt">
                                </div>
                            </div>
                            <div class="werdegang-text">
                                <h3 class="werdegang-h3">{{ element.headline }}</h3>
                                <p v-if="element.time !== null" class="werdegang-time">{{ element.time }}</p>
                                <p v-if="element.description !== null" class="werdegang-beschreibung">{{ element.description }}</p>
                            </div>
                        </div>
                        <div v-else class="bg-dark werdegang-info">
                            <div class="werdegang-icon">
                                <img v-bind:src="element.icon" v-bind:alt="element.alt">
                            </div>
                            <div class="werdegang-text">
                                <h3 class="werdegang-h3">{{ element.headline }}</h3>
                                <p v-if="element.time !== null" class="werdegang-time">{{ element.time }}</p>
                                <p v-if="element.description !== null" class="werdegang-beschreibung">{{ element.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div v-if="buttonActiveEducation === true" v-for="(element, index) in werdegangArray">
                        <div v-if="element.type === 'education' && element.educationCounter % 2 === 0 ||
                        element.type === 'internship' && element.educationCounter % 2 === 0 ||
                        element.type === 'move' && element.educationCounter % 2 === 0" class="werdegang-info bg-dark">
                            <div class="werdegang-icon">
                                <div class="normalize">
                                    <img v-bind:src="element.icon" v-bind:alt="element.alt">
                                </div>
                            </div>
                            <div class="werdegang-text">
                                <h3 class="werdegang-h3">{{ element.headline }}</h3>
                                <p v-if="element.time !== null" class="werdegang-time">{{ element.time }}</p>
                                <p v-if="element.description !== null" class="werdegang-beschreibung">{{ element.description }}</p>
                            </div>
                        </div>
                        <div v-else-if="element.type === 'education' && element.educationCounter % 2 > 0 ||
                        element.type === 'internship' && element.educationCounter % 2 > 0 ||
                        element.type === 'move' && element.educationCounter % 2 > 0" class="bg-light werdegang-info">
                            <div class="werdegang-icon">
                                <img v-bind:src="element.icon" v-bind:alt="element.alt">
                            </div>
                            <div class="werdegang-text">
                                <h3 class="werdegang-h3">{{ element.headline }}</h3>
                                <p v-if="element.time !== null" class="werdegang-time">{{ element.time }}</p>
                                <p v-if="element.description !== null" class="werdegang-beschreibung">{{ element.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div v-if="buttonActiveWork === true" v-for="(element, index) in werdegangArray">
                        <div v-if="element.type === 'work' && element.workCounter % 2 === 0 ||
                        element.type === 'internship' && element.workCounter % 2 === 0 ||
                        element.type === 'move' && element.workCounter % 2 === 0" class="werdegang-info bg-dark">
                            <div class="werdegang-icon">
                                <div class="normalize">
                                    <img v-bind:src="element.icon" v-bind:alt="element.alt">
                                </div>
                            </div>
                            <div class="werdegang-text">
                                <h3 class="werdegang-h3">{{ element.headline }}</h3>
                                <p v-if="element.time !== null" class="werdegang-time">{{ element.time }}</p>
                                <p v-if="element.description !== null" class="werdegang-beschreibung">{{ element.description }}</p>
                            </div>
                        </div>
                        <div v-else-if="element.type === 'work' && element.workCounter % 2 > 0 ||
                        element.type === 'internship' && element.workCounter % 2 > 0 ||
                        element.type === 'move' && element.workCounter % 2 > 0" class="bg-light werdegang-info">
                            <div class="werdegang-icon">
                                <img v-bind:src="element.icon" v-bind:alt="element.alt">
                            </div>
                            <div class="werdegang-text">
                                <h3 class="werdegang-h3">{{ element.headline }}</h3>
                                <p v-if="element.time !== null" class="werdegang-time">{{ element.time }}</p>
                                <p v-if="element.description !== null" class="werdegang-beschreibung">{{ element.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!---------------------------------Freizeitbildung----------------------------------->
                <div class="base-site-grid-14">
                    <div class="base-site-grid-layout">
                        <div id="werdegang-hobby-introduction">
                            <h2 class="h2-sans-serif werdegang-h2-between">Freizeitbildung</h2>
                        </div>
                    </div>
                </div>

                <div class="base-site-grid-layout">
                    <div v-if="buttonActiveAll === true" v-for="(element, index) in hobbyWerdegangArray">
                        <div v-if="index%2 === 0" class="werdegang-info bg-light-alpha">
                            <div class="werdegang-icon-hobby">
                                <div class="normalize">
                                    <img v-bind:src="element.icon" v-bind:alt="element.alt">
                                </div>
                            </div>
                            <div class="werdegang-text-hobby">
                                <h3 class="werdegang-h3">{{ element.headline }}</h3>
                                <p v-if="element.time !== null" class="werdegang-time">{{ element.time }}</p>
                                <p v-if="element.description !== null" class="werdegang-beschreibung">{{ element.description }}</p>
                            </div>
                        </div>
                        <div v-else class="bg-dark-alpha werdegang-info">
                            <div class="werdegang-icon-hobby">
                                <img v-bind:src="element.icon" v-bind:alt="element.alt">
                            </div>
                            <div class="werdegang-text-hobby">
                                <h3 class="werdegang-h3">{{ element.headline }}</h3>
                                <p v-if="element.time !== null" class="werdegang-time">{{ element.time }}</p>
                                <p v-if="element.description !== null" class="werdegang-beschreibung">{{ element.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div v-if="buttonActiveEducation === true" v-for="(element, index) in hobbyWerdegangArray">
                        <div v-if="element.type === 'hobbyEducation' && element.educationCounter % 2 === 0 ||
                        element.type === 'internship' && element.educationCounter % 2 === 0 ||
                        element.type === 'move' && element.educationCounter % 2 === 0" class="werdegang-info bg-dark-alpha">
                            <div class="werdegang-icon-hobby">
                                <div class="normalize">
                                    <img v-bind:src="element.icon" v-bind:alt="element.alt">
                                </div>
                            </div>
                            <div class="werdegang-text-hobby">
                                <h3 class="werdegang-h3">{{ element.headline }}</h3>
                                <p v-if="element.time !== null" class="werdegang-time">{{ element.time }}</p>
                            </div>
                        </div>
                        <div v-else-if="element.type === 'hobbyEducation' && element.educationCounter % 2 > 0 ||
                        element.type === 'internship' && element.educationCounter % 2 > 0 ||
                        element.type === 'move' && element.educationCounter % 2 > 0" class="bg-light-alpha werdegang-info">
                            <div class="werdegang-icon-hobby">
                                <img v-bind:src="element.icon" v-bind:alt="element.alt">
                            </div>
                            <div class="werdegang-text-hobby">
                                <h3 class="werdegang-h3">{{ element.headline }}</h3>
                                <p v-if="element.time !== null" class="werdegang-time">{{ element.time }}</p>
                            </div>
                        </div>
                    </div>
                    <div v-if="buttonActiveWork === true" v-for="(element, index) in hobbyWerdegangArray">
                        <div v-if="element.type === 'hobbyWork' && element.workCounter % 2 === 0 ||
                        element.type === 'internship' && element.workCounter % 2 === 0 ||
                        element.type === 'move' && element.workCounter % 2 === 0" class="werdegang-info bg-dark-alpha">
                            <div class="werdegang-icon-hobby">
                                <div class="normalize">
                                    <img v-bind:src="element.icon" v-bind:alt="element.alt">
                                </div>
                            </div>
                            <div class="werdegang-text-hobby">
                                <h3 class="werdegang-h3">{{ element.headline }}</h3>
                                <p v-if="element.time !== null" class="werdegang-time">{{ element.time }}</p>
                            </div>
                        </div>
                        <div v-else-if="element.type === 'hobbyWork' && element.workCounter % 2 > 0 ||
                        element.type === 'internship' && element.workCounter % 2 > 0 ||
                        element.type === 'move' && element.workCounter % 2 > 0" class="bg-light-alpha werdegang-info">
                            <div class="werdegang-icon-hobby">
                                <img v-bind:src="element.icon" v-bind:alt="element.alt">
                            </div>
                            <div class="werdegang-text-hobby">
                                <h3 class="werdegang-h3">{{ element.headline }}</h3>
                                <p v-if="element.time !== null" class="werdegang-time">{{ element.time }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!---------------------------------Kenntnisse----------------------------------->
                <div class="base-site-grid-14">
                    <div class="base-site-grid-layout">
                        <div id="werdegang-skills">
                            <h2 class="h2-sans-serif werdegang-h2-between" id="skillsID">Kompetenzen</h2>
                            <p class="werdegang-h2-between-info">Im Bereich des Kommunikationsdesigns und der Webentwicklung ist es wichtig sich durchgängig fortzubilden und auf Stand zu halten. Dies ist einerseits eine große Herausforderung, bringt jedoch andererseits auch immer wieder Neues und Spannendes mit sich, was für Aufträge und Projekte eingesetzt werden kann. Hierbei ist es wichtig bestehende Kompetenzen weiter auszubauen, sowie neue hinzuzufügen. Isabella's Kompetenzen siedeln sich im Kommunikationsdesign und durch die MTD-Ausbildung auch im Bereich der Webentwicklung an, auf den sie sich auch weiter spezialisiert.</p>
                        </div>
                    </div>

                    <div class="base-site-grid-layout">
                        <div class="skill-section">
                            <h4>Betriebssysteme</h4>
                            <p>Windows 10 <img class="skill-icons" src="images/werdegang/windows.svg" alt="Windows Icon">,
                                Mac OSX (aufwärts) <img class="skill-icons" src="images/werdegang/mac.svg" alt="Mac Icon"></p>
                        </div>
                        <div class="skill-section">
                            <h4>Sprachen</h4>
                            <p>Deutsch (Muttersprache), Englisch (fließend in Wort und Schrift)</p>
                        </div>

                        <div class="skill-section">
                            <h4>Programme</h4>
                            <div class="noramlize base-site-grid-12 align-items-center">
                                <p class="skill-left">Adobe CS6/CC</p>
                                <p class="skill-right">
                                    <img class="skill-icons-adobe" src="images/werdegang/indesign.svg" alt="Adobe Indesign Icon" title="Adobe Indesign">
                                    <img class="skill-icons-adobe" src="images/werdegang/photoshop.svg" alt="Adobe Photoshop Icon" title="Adobe Photoshop">
                                    <img class="skill-icons-adobe" src="images/werdegang/ai.svg" alt="Adobe Illustrator Icon" title="Adobe Illustrator">
                                    <img class="skill-icons-adobe" src="images/werdegang/xd.svg" alt="Adobe XD Icon" title="Adobe XD">
                                    <img class="skill-icons-adobe" src="images/werdegang/dreamweaver.svg" alt="Adobe Dreamweaver Icon" title="Adobe Dreamweaver">
                                    <img class="skill-icons-adobe" src="images/werdegang/premiere.svg" alt="Adobe Premiere Icon" title="Adobe Premiere">
                                    <img class="skill-icons-adobe" src="images/werdegang/afterEffects.svg" alt="Adobe After Effects Icon" title="Adobe After Effects">
                                    <img class="skill-icons-adobe" src="images/werdegang/acrobat.svg" alt="Adobe Dreamweaver Icon" title="Adobe Acrobat">
                                </p>
                            </div>
                            <div class="normalize base-site-grid-12 align-items-center">
                                <p class="skill-left">Web</p>
                                <p class="skill-right">
                                    <img class="skill-icons-adobe" src="images/werdegang/HTML5.svg" alt="HTML5" title="HTML5">
                                    <img class="skill-icons-adobe" src="images/werdegang/css3.svg" alt="CSS3" title="CSS3">
                                    <img class="skill-icons-adobe" src="images/werdegang/javascript.svg" alt="JavaScript" title="JavaScript">
                                    <img class="skill-icons-adobe" src="images/werdegang/php.svg" alt="PHP" title="PHP">
                                    <img class="skill-icons-adobe" src="images/werdegang/vuejs.svg" alt="VueJS" tilte="VueJS">
                                    <img class="skill-icons-adobe" src="images/werdegang/symfony.svg" alt="Symfony" title="Symfony">
                                </p>
                            </div>
                            <div class="normalize base-site-grid-12 align-items-center">
                                <p class="skill-left">Programmierung</p>
                                <p class="skill-right">
                                    <img class="skill-icons-adobe" src="images/werdegang/java.svg" alt="Java" title="Java">
                                    <img class="skill-icons-adobe" src="images/werdegang/c.svg" alt="C++" title="C++">
                                </p>
                            </div>
                            <div class="normalize base-site-grid-12 align-items-center">
                                <p class="skill-left">3D</p>
                                <p class="skill-right">
                                    <img class="skill-icons-adobe" src="images/werdegang/maya.svg" alt="Autodesk Maya" title="Autodesk Maya">
                                    <img class="skill-icons-adobe" src="images/werdegang/zbrush.png" alt="ZBrush" title="ZBrush">
                                </p>
                            </div>
                            <div class="normalize base-site-grid-12">
                                <p class="skill-left">Audio</p>
                                <p class="skill-right">Logic, Ableton</p>
                            </div>
                            <div class="normlize base-site-grid-12">
                                <p class="skill-left">Office</p>
                                <p class="skill-right">Microsoft Office 7 (aufwärts), Open Office, Libre Office</p>
                            </div>
                        </div>

                        <div class="skill-section">
                            <h4>Fachkenntnisse</h4>
                            <div class="noramlize base-site-grid-12">
                                <p class="skill-left">Grafik & Design</p>
                                <p class="skill-right">Logoentwicklung, Corporate Design, Print, Webentwicklung, Packaging, Konzeptentwicklung, Produktentwicklung, UI/UX-Design für Web</p>
                            </div>
                            <div class="normalize base-site-grid-12">
                                <p class="skill-left">3D</p>
                                <p class="skill-right">Sculpting, Modelling, Rigging, Animation</p>
                            </div>
                        </div>

                        <div class="skill-section">
                            <h4>Soft-Skills</h4>
                            <div class="noramlize base-site-grid-12">
                                <p class="skill-left">Kommunikation</p>
                                <p class="skill-right">Kommunikationsfähigkeit, Konfliktlösungsfähigkeit, sehr gute Teamfähigkeit, soziale Sensibilität (Einfühlungsvermögen)</p>
                            </div>
                            <div class="normalize base-site-grid-12">
                                <p class="skill-left">Persönliche Fähigkeiten</p>
                                <p class="skill-right">Zielstrebigkeit, Engagement, selbstständige Arbeitsweise, schnelle Auffassungsgabe, kreative Energie und Leidenschaft, gutes räumliches Vorstellungsverögen</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!---------------------------------Hobbies----------------------------------->
                <div class="base-site-grid-14">
                    <div class="base-site-grid-layout">
                        <div id="werdegang-hobbies">
                            <h2 class="h2-sans-serif werdegang-h2-between">Hobbies</h2>
                            <div class="normalize werdegang-h2-between-info">
                                <img class="skill-icons-hobby" src="images/werdegang/wandern.svg" alt="wandern Icon" title="wandern">
                                <img class="skill-icons-hobby" src="images/werdegang/schwimmen.svg" alt="schwimmen Icon" title="schwimmen">
                                <img class="skill-icons-hobby" src="images/werdegang/radfahren.svg" alt="radfahren Icon" title="radfahren">
                                <img class="skill-icons-hobby" src="images/werdegang/campen.svg" alt="campen Icon" title="campen">
                                <img class="skill-icons-hobby" src="images/werdegang/lesen%202.svg" alt="lesen Icon" title="lesen">
                                <img class="skill-icons-hobby" src="images/werdegang/schreiben.svg" alt="schreiben Icon" title="schreiben">
                                <img class="skill-icons-hobby" src="images/werdegang/zeichnen.svg" alt="zeichnen Icon" title="zeichnen">
                                <img class="skill-icons-hobby" src="images/werdegang/malen.svg" alt="malen Icon" title="malen">
                                <img class="skill-icons-hobby" src="images/werdegang/illustrieren.svg" alt="illustrieren Icon" title="illustrieren">
                                <img class="skill-icons-hobby" src="images/werdegang/haekeln.svg" alt="häkeln Icon" title="häkeln">
                                <img class="skill-icons-hobby" src="images/werdegang/fotografieren.svg" alt="fotografieren Icon" title="fotografieren">
                                <img class="skill-icons-hobby" src="images/werdegang/Filme%202.svg" alt="Filme Icon" title="Filme">
                                <img class="skill-icons-hobby" src="images/werdegang/Freunde.svg" alt="Freunde Icon" title="Freunde">
                                <img class="skill-icons-hobby" src="images/werdegang/Brettspiele.svg" alt="Brettspiele Icon" title="Brettspiele">
                                <img class="skill-icons-hobby" src="images/werdegang/Games.svg" alt="Games Icon" title="Games">
                                <img class="skill-icons-hobby" src="images/werdegang/Klavier.svg" alt="Klavier Icon" title="Klavier spielen">
                                <img class="skill-icons-hobby" src="images/werdegang/Gesang.svg" alt="Gesang Icon" title="singen">
                                <img class="skill-icons-hobby" src="images/werdegang/Musik.svg" alt="Musik hören Icon" title="Musik hören">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="before-footer"></div>
            </div>
        </main>

        <footer>
            <div class="site_width height_center base-site-grid-14">
                <section class="base-site-grid-layout" id="footer--grid">
                    <div id="footer--kontakt">
                        <p> Isabella Aigner<br>
                            Grafik & Design</p>
                        <p> Tel: <a href="tel:069911314663">0699 113 14 663</a><br>
                            Mail: <a href="mailto:S1810238002@students.fh-hagenberg.at?cc=S1810238002@students.fh-hagenberg.at&bcc=isabella.aigner@yahoo.de&subject=Nachricht%20durch%20Kontaktformulare&amp;body=Sehr%20geehrte%20Frau%20Aigner&sbquo;" target="_top">isabella.aigner@yahoo.de</a></p>
                    </div>
                    <h3><a href="impressum.html">Impressum</a></h3>
                    <a id="footer--nach-oben" href="#top"><img src="images/index/flaticon_right-arrow.svg" height="15" alt="Pfeil Verlinkung auf Seitenanfang" /></a>
                </section>
            </div>
        </footer>


        <div style="display: none;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              enable-background="new 0 0 131.1 108.8" xml:space="preserve">
                        <symbol id="logo" viewBox="0 0 131.1 108.8" fill="white">
        <path d="M127.8,2.7l-78,52c0,0,59.1,36.6,60.6,37.6c6.5,4.3,11,5.4,10-5c-4.7-48.1-5.7-63.1-5.7-63.1l7.9-5.4c0.6-0.4,1.5,0,1.6,0.7
            c0.6,5.5,4.8,61.9,5.2,70.8c1.1,24.7-7.3,18.4-18.9,13.1C105.6,101.3,3,43.3,2.7,42.3c-0.5-1.5,8.1-5.7,9.1-6.3
            c24.2-13,81-24.4,97.1-28.6C115.2,5.8,121.5,3.8,127.8,2.7"/>
                            </symbol>
                    </svg>

        </div>

        <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
        <script src="js/slider_news.js"></script>
        <script src="js/carousel.js"></script>
        <script src="js/portfolio.js"></script>

        </body>
        </div>
</html>